{% extends "layout.html" %}

{% block title %}
    history
{% endblock %}

{% block main %}
    <h1> History </h1>
    <table class="table" >
        <thead>
            <tr>
                <th class="text-start" >Symbol</th>
                <th class="text-end" >Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transactions in transactions %}
                <tr>
                    <td class="text-start">{{ transactions.symbol }}</td>
                    <td class="text-end">{{ transactions.shares }}</td>
                    <td class="text-end">{{ transactions.price | usd }}</td>
                    <td class="text-end">{{ transactions.date }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
